.cart_top {
  margin-top: 2rem;
}

.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 54rem;
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

.btn_in_de {
  color: #00695c;
  background: white;
  /* padding: 4px; */
  border-radius: 5px;
  border: 1px solid #00695c;

  cursor: pointer;
  font-weight: bold;
}
.btn_in_de:hover {
  background-color: #00695c;
  color: white;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
